<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit</title>
    <link rel="stylesheet" href="/css/edit.css">
  
</head>
<body>

        <%-include("../partials/boilerplate")%>

        <br>
        <div class="view">
            <form action="/anime/<%=anime._id%>?_method=PUT" method="post">
            <label for="name">Name</label><br>
               <input type="text" name="anime[name]" id="name"  value="<%=anime.name%>">
               <br><label for="name">Rating</label><br>
               <input type="text" name="anime[rating]" id="name"  value="<%=anime.rating%>">
               <br><label for="popular">Popular</label><br>
               <input type="text" name="anime[popular]" id="popular"  value="<%=anime.popular%>">
               <br><label for="category">Category</label><br>
               <input type="text" name="anime[category]" id="category"   value="<%=anime.category%>">
               <br><label for="best">Best character</label><br>
               <input type="text" name="anime[bestCharacter]" id="best"   value="<%=anime.bestCharacter%>">
               <br><label for="epi">Episodes</label><br>
               <input type="text" name="anime[episodes]" id="epi"  value="<%=anime.episodes%>"> 
         
                 <br>
               <button class="btn btn-success">Update</button>
            </form>
               <br>
           <br>
           <form action="/anime">
            <button class="btn btn-info">
                List
            </button>
            
           </form>
            </div>
</body>
</html>